{
  "apps": [
    {
      "env": {
        "NODE_ENV": "development",
        "PORT": 3004,
        "db_host":  "localhost",
        "db_port":  5432,
        "db_name":  "seb_vs_virus",
        "db_user":  "postgres",
        "db_dialect": "postgres",
        "forceSync": false
      }
    }
  ]
}
